<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>View.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>View.RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SchedulerServlet</servlet-name>
        <servlet-class>View.SchedulerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SchedulerServlet</servlet-name>
        <url-pattern>/SchedulerServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>OutServlet</servlet-name>
        <servlet-class>View.OutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OutServlet</servlet-name>
        <url-pattern>/OutServlet</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>AdminOperationServlet</servlet-name>
        <servlet-class>View.AdminOperationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminOperationServlet</servlet-name>
        <url-pattern>/AdminOperationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MeetingServlet</servlet-name>
        <servlet-class>View.MeetingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MeetingServlet</servlet-name>
        <url-pattern>/MeetingServlet</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>ManagerOperationServlet</servlet-name>
        <servlet-class>View.ManagerOperationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ManagerOperationServlet</servlet-name>
        <url-pattern>/ManagerOperationServlet</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>ShowUsersInMeetingServlet</servlet-name>
        <servlet-class>View.ShowUsersInMeetingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowUsersInMeetingServlet</servlet-name>
        <url-pattern>/ShowUsersInMeetingServlet</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>LoginPage.html</welcome-file>
    </welcome-file-list>


</web-app>