@font-face {
    font-family: "DINL";
    src: url("./Extra/DINL.otf") format("opentype");

    /* TODO: Create a server and upload all the fonts files */
}

body{
    font-family: DINL;
    height: 100%;
    margin: 0;


    background-image: url(./Extra/back3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: 1750px 1250px;

}

.myd{

    height: 10%;
    width: 40%;
    font-size: 40px;
    z-index: 1;
    position: fixed;
    top: 20%;
    left: 38%;

}

.sidebar{

    background-color: white;
    font-size: 20px;
    height: 100%;
    width: 220px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    margin-left: 0px;
    border-right: 1px solid black;

}

.sidebar a{

    font-size: 20px;
    padding: 8px 8px 8px 73px;
    color: #000;
    display: block;
    text-decoration: none;
    transition: 0.3s;

}

.mydh{
    margin-left: -20px;
}

.sidebar a:hover{
    text-decoration: underline;
}

.logo img{
    height: 190px;
    width: auto;

}

.title{
    font-size: 70px;
    margin-left: 38%;
    margin-top: 5%

}


.loginbox{
    height: 10%;
    width: 40%;
    font-size: 70px;
    z-index: 1;
    position: fixed;
    top: 20%;
    left: 38%;

}


.registerbox{
    height: 10%;
    width: 40%;
    font-size: 40px;
    z-index: 1;
    position: fixed;
    top: 20%;
    left: 38%;

}

.sign_out_btn input{
    margin-top: 500px;
    margin-left: 35%;
}


.sign_out_btn_2 input{
    margin-top: 400px;

    margin-left:40%;
}


.usertable{

    width: auto;
    height: auto;
    margin-left: 42%;
    margin-top: 60px;
    text-align: center;
    padding: 8px 8px 8px 8px;
    border-collapse: collapse;
    border-spacing: 0;

}

table.usertable th{

    background: black;
    color: white;
    padding: 20px 20px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

table.usertable tr, td {
    background: white;
    padding: 20px 20px;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}


input{
    font-family: DINL;
    width: 30%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 25%;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}


input[type="checkbox"]{
    border: none;
    width: auto;
    margin: 8% 2%;

}
.myd label {
    display: block;
    padding: unset;
    margin-left: 32%;
}

input:focus {
    border-color: black;
    box-shadow: 0 0 8px 0 black;
}

.inputWithIcon input {
    padding-left: 45px;
}

.inputWithIcon {
    position: relative;
}

.loginbox .inputWithIcon i {
    position: absolute;
    font-size: 25px;
    left: 192px;
    top: 42px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
}

.registerbox .inputWithIcon i{
    position: absolute;
    font-size: 25px;
    left: 192px;
    top: 13px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
}

.inputWithIcon input:focus + i {
    color: black;
}



input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

label {
    color: black;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 20px 20px;
}

input[type=radio]:checked + label{
    color: white;
    background: black;
}


.radio-group {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    border-radius: 999px;
    overflow: hidden;
    margin-left: 42%;
    margin-top: 60px;
}



