@font-face {
    font-family: "DINL";
    src: url("Extra/DINL.otf") format("opentype");

    /* TODO: Create a server and upload all the fonts files */
}

body{
    font-family: DINL;
    height: 100%;
    margin: 0;



    background-image: url(./Extra/back3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: 1750px 1250px;



}

.myd{

    height: 10%;
    width: 40%;
    font-size: 40px;
    z-index: 1;
    position: fixed;
    top: 20%;
    left: 38%;

}

.myd_msg.error{

    color: red;
    height: auto;
    width: 40%;
    font-size: 20px;
    z-index: 1;
    position: fixed;
    top: 20%;
    left: 46%;
}

.myd_msg.success{

    color: green;
    height: auto;
    width: 40%;
    font-size: 20px;
    z-index: 1;
    position: fixed;
    top: 20%;
    left: 46%;
}


.myd_msg.success.fix{
    top: 10%;
    left: 47.5%;
}
.myd_msg.error.fix{
    top: 10%;
    left: 47.5%;

}



.sidebar{


    background-color: white;
    font-size: 20px;
    height: 100%;
    width: 220px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    margin-left: 0px;
    border-right: 1px solid black;

}

.sidebar a{

    font-size: 20px;
    padding: 8px 8px 8px 73px;
    color: #000;
    display: block;
    text-decoration: none;
    transition: 0.3s;

}

.mydh{
    margin-left: -20px;
}

.sidebar a:hover{
    text-decoration: underline;
}

.logo img{
    height: 190px;
    width: auto;;

}



input[type="checkbox"]{
    border: none;
    width: auto;
    margin: 8% 2%;

}
.sign_out_btn input{
    font-family: DINL;

    margin-top: 500px;
    margin-left: 35%;
    width: 30%;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}


.sign_out_btn input:focus {
    border-color: black;
    box-shadow: 0 0 8px 0 black;
}


.sign_out_btn_2 input{
    margin-top: 400px;
    margin-left:40%;
}


input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

label {
    background: white;
    color: black;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 20px 20px;
}

.myd label {
    display: block;
    padding: unset;
    margin-left: 32%;
}


input[type=radio]:checked + label{
    color: white;
    background: black;
}


.radio-group {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    border-radius: 999px;
    overflow: hidden;
    margin-left: 45%;
    margin-top: 60px;
}






form.operations input[type=text] {
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    float: left;
    width: auto;
    background: white;
    margin-left: 46%;
    margin-top: 120px;
    height: 62px;

}

form.operations button {

    float: left;
    padding: 20px;
    background: black;
    color: white;
    font-size: 20px;
    border: 1px solid black;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    margin-top: 120px;

}

form.operations button:hover {
    color: white;
    background: black;
}

form.operations::after {
    content: "";
    clear: both;
    display: table;
}


.managerbtn input{
    margin-top: 400px;
}
